ion-header ion-toolbar {
    --background: #2F0571;
    --color: #FFA340;
    /*#4E10AE	#4C2982	#2F0571	#7D44D6	#956BD6*/
    /*#FF8500	#BF7A30	#A65600	#FFA340	#FFBC73*/
}

ion-menu-button {
    --color: #FFA340;
}
